@media (min-width: 768px) {
        .navegacion a {
                text-align: left;
        }
        .texto-encabezado h2 {
                font-size: 8rem;
        }
        .btn {
                font-size: 2.2rem;
        }
        .bordes {
                border: 4px solid;
        }
        .contenedor-nosotros {
                display: flex;
                justify-content: space-between;
        }
        
        
        
}